Support REAL SPNEGO authentication

```
Right now, libserf claims to support SPNEGO authentication with GSS-API but it 
doesn't.

When initializing the GSS context, the OID of SPNEGO is not passed, instead 
NO_OID is passed thus MIT and Heimdal choose to perform Kerberos 5 which has a 
different OID.

I had the same dispute in libneon [1] so I am copying the RFC parts:

RFC4559 section 5 [2] says:

> The client will obtain the user credentials using the SPNEGO GSSAPI
> mechanism type to identify generate a GSSAPI message to be sent to
> the server with a new request, including the following Authorization
> header: [...]

More over RFC4178 section 3.2 makes the same statement about generated 
tokens/credentials:

> a) The GSS-API initiator invokes GSS_Init_sec_context() as normal,
>    but requests that SPNEGO be used.  SPNEGO can either be explicitly
>     requested or accepted as the default mechanism.

So, since SPNEGO OID is not passed and SPNEGO is not the default mech, serf 
behaves incorrectly.

I have attached a preliminary patch against 1.1.x which makes it work. The two 
attached screenshots depict the comm with a SPNEGO protected resource and the 
server happily answering libserf. As a mid-term goal, serf function names 
should be aligned to from serf__kerb_.. serf__spnego_.... Both mech could be 
easily added to serf_authn_schemes in auth.c. Since the code would be 
absolutely the same but the OID they could be called via a wrapper function 
passing the OID.


This issue is based on the discussion in 
http://subversion.tigris.org/issues/show_bug.cgi?id=3869

[1] http://lists.manyfish.co.uk/pipermail/neon/2012-June/001475.html
[2] http://tools.ietf.org/html/rfc4559#section-5
```

Original issue reported on code.google.com by `1983-01...@gmx.net` on 22 Oct 2012 at 8:53

Attachments:
- [serf-spnego.patch](https://storage.googleapis.com/google-code-attachments/serf/issue-89/comment-0/serf-spnego.patch)
- [serf-spnego-request.png](https://storage.googleapis.com/google-code-attachments/serf/issue-89/comment-0/serf-spnego-request.png)
- [tomcat-serf-spnego-response.png](https://storage.googleapis.com/google-code-attachments/serf/issue-89/comment-0/tomcat-serf-spnego-response.png)
